*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height:100%;
}

/* width */
::-webkit-scrollbar {

    width: 1px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb { 
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: none; 
  }



#main{
    position: relative;
    width: 100%;
    height:100%;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    position: relative;
    z-index: 1;
    padding: 5px;
    background-color: rgb(136, 167, 168);
    width: 250px;
    height: 70%;
    /* display: flex; */
    /* overflow: hidden; */
    /* flex-direction: column; */
    /* gap: 10px; */
    border-radius: 10px;

}

.story{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 80px;
    /* background-color: aqua; */
}
.story .imgg{
    cursor: pointer;
    width: 60px;
    height: 100%;
    border-radius: 50%;
    border: white 2px solid;
    overflow: hidden;
    /* background-color: rgb(83, 179, 10); */
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.story h5{
    cursor: not-allowed;
    color: white;
    font-family: poppins;
    letter-spacing: 1px;
    font-size: 15px;
}

#card #storyboard{
    display: flex;
   margin-top: 5px;
    padding: 10px;
    align-items: center;
    background-color: rgb(27, 113, 116);
    width:100%;
    overflow: hidden;
    overflow-x: auto;
    height: 20% ;
    border-radius: 10px;

}


#card #content{
    margin-top: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: rgb(27, 113, 116);
    width:initial;
    height: 75% ;
    border-radius: 10px;

}
#opc{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    animation-name: opcc;
    animation-duration: 1s;
    animation-fill-mode: forwards ;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes opcc {
    from {background-color: none}
  to {background-color: rgba(0, 0, 0, 0.679);}
}

#card #fullscrn{
    
    display: none;
    margin: -5px;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: wheat;
    background-size: cover;
    background-position: center;
}